{
  "extends": ["airbnb/base", "prettier", "plugin:vue/essential"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "semi": 2,
    "no-console": "off",
    "func-names": "off"
  }
}
